# extractbb-lua
# https://github.com/gucci-on-fleek/extractbb
# SPDX-License-Identifier: MPL-2.0+
# SPDX-FileCopyrightText: 2024--2025 Max Chernoff
*.log
*.pdf
*.zip
build/
nogit-*
release.title
!texmf/**
